div.the-story-deck{
    box-shadow:
    0 2px 2px 0 rgb(224, 224, 224),
    0 4px 4px 0 rgb(194, 194, 194),
    0 6px 6px 0 rgb(163, 163, 163);
}
div.the-story-deck-card-container > div.the-story-game-card:not(:nth-child(1)){
    /* position: absolute;
    top:0;
    left:0;
    z-index:-1; */
    display:none;
}