div.PortalNav{
    width:100%;
}

div.PortalNav div.nav-item{
    background-color: #F8F5CE;
    border: solid;
    border-width: 0 1rem 0 1rem;
}
/* img.LogoPicture{
    position:absolute;
    top:4rem;
    left:1%;
    z-index: 1;
} */