div.portal-home{
  height: calc(100vw/16*9);
  position:relative;
}
img.home-content-background {
    width: 100%;
    z-index: -1;
    margin:auto;
  }
div.user-sticker {
  position:absolute;
  top:65%;
  left:75%;
}
div.start-sticker {
  position:absolute;
  top:75%;
  left:75%;
}
div.user-register {
  position:absolute;
  transform: translateX(-50%) translateY(-50%) ;
  top:50%;
  left:50%;
}